<form (submit)="loginUser($event)">
    <div class="container">
        <label><h3>Username</h3></label>
        <input type="text" placeholder="Enter user naem">
    </div>
    <div class="container">
        <label><h3>Password</h3></label>
        <input type="Password" placeholder="Password">
    </div>
    <div class="container">
        <input  class="btn btn-primary" type="submit" value="login">

    </div>
<!-- 
<div class="container" >
    <button type="button" class="btn btn-primary">Cancel</button>
    <span class="psw">Forget<a href="">PAssword?</a></span>
</div> -->



</form>